body{
    text-align: center;
    background-color:#B9E794 ;
}

#headerSection{
	padding: 10px ;

}

#headerSection h1{
	font-family: cursive ;
}

input{
	padding: 10px;
	padding: 5px;
	border: none;
}

#dropbox{
	padding: 10px;
	border-radius: 5px;
	width: 15%;
}

#loginbtn{
	padding: 5px;
	font-size: 15px;
	background-color: #328DC0;
	border: none;
	color: #fff;
	padding: 10px 15px 10px 15px;
	cursor: pointer;

}